In [1]:
import pandas as pd
import numpy as np

In [2]:
ruta = "C:/Users/tinch/coderhouse/template_model/data/raw/"

In [3]:
cardio = pd.read_excel(f"{ruta}cardio.xlsx")

In [5]:
fisicas = pd.read_excel(f"{ruta}fisicas.xlsx")

In [6]:
metabolicas = pd.read_excel(f"{ruta}metabolicas.xlsx")

In [9]:
oral = pd.read_excel(f"{ruta}oral.xlsx")

In [10]:
sentidos = pd.read_excel(f"{ruta}sentidos.xlsx")

In [11]:
target = pd.read_excel(f"{ruta}target.xlsx")

In [15]:
df = pd.merge(cardio, fisicas, on ="ID", how="left")

In [17]:
df = pd.merge(df, metabolicas, on ="ID", how="left")

In [18]:
df = pd.merge(df, oral, on ="ID", how="left")

In [19]:
df = pd.merge(df, sentidos, on ="ID", how="left")

In [20]:
df = pd.merge(df, target, on ="ID", how="left")

In [21]:
df

,ID,systolic,relaxation,Cholesterol,triglyceride,HDL,LDL,gender,age,height(cm),...,ALT,Gtp,oral,dental caries,tartar,eyesight(left),eyesight(right),hearing(left),hearing(right),target
0,0,4.750000,3.041667,8.958333,3.416667,3.041667,5.250000,F,40.0,155.0,...,0.791667,1.125000,Y,0,Y,0.043056,0.041667,0.041667,0.041667,0
1,1,4.958333,2.916667,8.000000,4.791667,1.750000,5.291667,F,40.0,160.0,...,0.791667,0.750000,Y,0,Y,0.005556,0.004167,0.041667,0.041667,0
2,2,5.750000,3.583333,10.083333,7.583333,2.291667,6.291667,M,55.0,170.0,...,0.666667,0.916667,Y,0,N,0.005556,0.005556,0.041667,0.041667,1
3,3,4.166667,2.500000,13.416667,10.583333,1.875000,9.416667,M,40.0,165.0,...,1.083333,0.750000,Y,0,Y,0.045139,0.045139,0.041667,0.041667,0
4,4,5.000000,3.083333,7.666667,3.083333,2.583333,4.458333,F,40.0,155.0,...,0.583333,0.916667,Y,0,N,0.041667,0.041667,0.041667,0.041667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,27343,NaN,NaN,NaN,NaN,2.625000,3.041667,M,50.0,160.0,...,NaN,0.916667,Y,0,Y,0.004861,0.005556,0.041667,NaN,1
49996,27350,NaN,NaN,NaN,NaN,2.250000,3.208333,M,30.0,170.0,...,NaN,0.750000,Y,1,Y,0.045139,0.041667,0.041667,NaN,1
49997,27351,NaN,NaN,NaN,NaN,1.958333,2.208333,M,20.0,165.0,...,NaN,2.916667,Y,0,Y,0.045139,0.045139,0.041667,NaN,1
49998,27352,NaN,NaN,NaN,NaN,2.583333,4.125000,F,60.0,160.0,...,NaN,1.041667,Y,1,Y,0.002778,0.002778,0.041667,NaN,0
49999,27354,NaN,NaN,NaN,NaN,2.750000,5.041667,M,45.0,170.0,...,NaN,2.583333,Y,1,N,0.045139,0.041667,0.041667,NaN,1

In [22]:
df.to_csv("C:/Users/tinch/coderhouse/template_model/data/processed/dataset_merged.csv")