In [56]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv("C:/Users/tinch/coderhouse/template_model/data/processed/dataset_merged.csv")

In [58]:
df

,Unnamed: 0,ID,systolic,relaxation,Cholesterol,triglyceride,HDL,LDL,gender,age,...,ALT,Gtp,oral,dental caries,tartar,eyesight(left),eyesight(right),hearing(left),hearing(right),target
0,0,0,4.750000,3.041667,8.958333,3.416667,3.041667,5.250000,F,40.0,...,0.791667,1.125000,Y,0,Y,0.043056,0.041667,0.041667,0.041667,0
1,1,1,4.958333,2.916667,8.000000,4.791667,1.750000,5.291667,F,40.0,...,0.791667,0.750000,Y,0,Y,0.005556,0.004167,0.041667,0.041667,0
2,2,2,5.750000,3.583333,10.083333,7.583333,2.291667,6.291667,M,55.0,...,0.666667,0.916667,Y,0,N,0.005556,0.005556,0.041667,0.041667,1
3,3,3,4.166667,2.500000,13.416667,10.583333,1.875000,9.416667,M,40.0,...,1.083333,0.750000,Y,0,Y,0.045139,0.045139,0.041667,0.041667,0
4,4,4,5.000000,3.083333,7.666667,3.083333,2.583333,4.458333,F,40.0,...,0.583333,0.916667,Y,0,N,0.041667,0.041667,0.041667,0.041667,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,27343,NaN,NaN,NaN,NaN,2.625000,3.041667,M,50.0,...,NaN,0.916667,Y,0,Y,0.004861,0.005556,0.041667,NaN,1
49996,49996,27350,NaN,NaN,NaN,NaN,2.250000,3.208333,M,30.0,...,NaN,0.750000,Y,1,Y,0.045139,0.041667,0.041667,NaN,1
49997,49997,27351,NaN,NaN,NaN,NaN,1.958333,2.208333,M,20.0,...,NaN,2.916667,Y,0,Y,0.045139,0.045139,0.041667,NaN,1
49998,49998,27352,NaN,NaN,NaN,NaN,2.583333,4.125000,F,60.0,...,NaN,1.041667,Y,1,Y,0.002778,0.002778,0.041667,NaN,0
49999,49999,27354,NaN,NaN,NaN,NaN,2.750000,5.041667,M,45.0,...,NaN,2.583333,Y,1,N,0.045139,0.041667,0.041667,NaN,1

In [59]:
df.shape

(50000, 28)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           50000 non-null  int64
 1   ID                   50000 non-null  int64
 2   systolic             49592 non-null  float64
 3   relaxation           49588 non-null  float64
 4   Cholesterol          49390 non-null  float64
 5   triglyceride         49979 non-null  float64
 6   HDL                  49053 non-null  float64
 7   LDL                  49053 non-null  float64
 8   gender               49963 non-null  object
 9   age                  49523 non-null  float64
 10  height(cm)           49587 non-null  float64
 11  weight(kg)           49914 non-null  float64
 12  waist(cm)            49616 non-null  float64
 13  fasting blood sugar  49142 non-null  float64
 14  hemoglobin           49859 non-null  float64
 15  Urine protein        49841 non-null  float64
 16  serum creatinine     38941 non-null  float64
 17  AST                  4248 non-null   float64
 18  ALT                  49678 non-null  float64
 19  Gtp                  49937 non-null  float64
 20  oral                 50000 non-null  object
 21  dental caries        50000 non-null  int64
 22  tartar               50000 non-null  object
 23  eyesight(left)       49298 non-null  float64
 24  eyesight(right)      49524 non-null  float64
 25  hearing(left)        49888 non-null  float64
 26  hearing(right)       49779 non-null  float64
 27  target               50000 non-null  int64
dtypes: float64(21), int64(4), object(3)
memory usage: 10.7+ MB

In [61]:
df.isna().sum()/df.shape[0]*100

Unnamed: 0              0.000
ID                      0.000
systolic                0.816
relaxation              0.824
Cholesterol             1.220
triglyceride            0.042
HDL                     1.894
LDL                     1.894
gender                  0.074
age                     0.954
height(cm)              0.826
weight(kg)              0.172
waist(cm)               0.768
fasting blood sugar     1.716
hemoglobin              0.282
Urine protein           0.318
serum creatinine       22.118
AST                    91.504
ALT                     0.644
Gtp                     0.126
oral                    0.000
dental caries           0.000
tartar                  0.000
eyesight(left)          1.404
eyesight(right)         0.952
hearing(left)           0.224
hearing(right)          0.442
target                  0.000
dtype: float64

In [62]:
df.columns

Index(['Unnamed: 0', 'ID', 'systolic', 'relaxation', 'Cholesterol',
       'triglyceride', 'HDL', 'LDL', 'gender', 'age', 'height(cm)',
       'weight(kg)', 'waist(cm)', 'fasting blood sugar', 'hemoglobin',
       'Urine protein', 'serum creatinine', 'AST', 'ALT', 'Gtp', 'oral',
       'dental caries', 'tartar', 'eyesight(left)', 'eyesight(right)',
       'hearing(left)', 'hearing(right)', 'target'],
      dtype='object')

In [63]:
df = df.drop(columns=["Unnamed: 0","AST","serum creatinine"])

In [64]:
df["target"] = df["target"].map({0:"NO FUMADOR", 1:"FUMADOR"})

In [65]:
df = df.fillna(df.mean(numeric_only=True))

In [66]:
df.gender.value_counts()

gender
M    31762
F    18201
Name: count, dtype: int64

In [67]:
random_gender = np.random.choice(["F","M"], size=df.gender.isnull().sum())

In [68]:
random_gender

array(['F', 'F', 'F', 'M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'F',
       'M', 'F', 'M', 'M', 'F', 'M', 'F', 'M', 'M', 'M', 'M', 'M', 'F',
       'M', 'F', 'M', 'M', 'M', 'M', 'M', 'M', 'F', 'F', 'F'], dtype='<U1')

In [69]:
df.loc[df["gender"].isnull(), "gender"] = random_gender

In [70]:
df.isna().sum()/df.shape[0]*100

ID                     0.0
systolic               0.0
relaxation             0.0
Cholesterol            0.0
triglyceride           0.0
HDL                    0.0
LDL                    0.0
gender                 0.0
age                    0.0
height(cm)             0.0
weight(kg)             0.0
waist(cm)              0.0
fasting blood sugar    0.0
hemoglobin             0.0
Urine protein          0.0
ALT                    0.0
Gtp                    0.0
oral                   0.0
dental caries          0.0
tartar                 0.0
eyesight(left)         0.0
eyesight(right)        0.0
hearing(left)          0.0
hearing(right)         0.0
target                 0.0
dtype: float64

In [71]:
df.duplicated().sum()

np.int64(0)

In [72]:
# otra forma es ver si hay IDs duplicadas
df.ID.nunique()

50000

In [73]:
df.gender.nunique()

2

In [74]:
df.oral.unique()

array(['Y'], dtype=object)

In [75]:
df.tartar.unique()

array(['Y', 'N'], dtype=object)

In [76]:
df.target.unique()

array(['NO FUMADOR', 'FUMADOR'], dtype=object)

In [77]:
df = df.drop(columns=["oral"])

In [79]:
df.head(3)

,ID,systolic,relaxation,Cholesterol,triglyceride,HDL,LDL,gender,age,height(cm),...,Urine protein,ALT,Gtp,dental caries,tartar,eyesight(left),eyesight(right),hearing(left),hearing(right),target
0,0,4.750000,3.041667,8.958333,3.416667,3.041667,5.250000,F,40.0,155.0,...,0.041667,0.791667,1.125000,0,Y,0.043056,0.041667,0.041667,0.041667,NO FUMADOR
1,1,4.958333,2.916667,8.000000,4.791667,1.750000,5.291667,F,40.0,160.0,...,0.041667,0.791667,0.750000,0,Y,0.005556,0.004167,0.041667,0.041667,NO FUMADOR
2,2,5.750000,3.583333,10.083333,7.583333,2.291667,6.291667,M,55.0,170.0,...,0.041667,0.666667,0.916667,0,N,0.005556,0.005556,0.041667,0.041667,FUMADOR

In [80]:
df.to_csv("C:/Users/tinch/coderhouse/template_model/data/processed/dataset_merged_processed.csv")