In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("C:/Users/tinch/coderhouse/template_model/data/processed/dataset_merged_processed_no_outliers.csv")

In [7]:
df = df.drop(columns=['Unnamed: 0'])

In [18]:
df.head(3)

,ID,systolic,relaxation,Cholesterol,triglyceride,HDL,LDL,gender,age,height(cm),...,Urine protein,ALT,Gtp,dental caries,tartar,eyesight(left),eyesight(right),hearing(left),hearing(right),target
0,0,4.750000,3.041667,8.958333,3.416667,3.041667,5.250000,0,40.0,155.0,...,0.041667,0.791667,1.125000,0.0,1,0.043056,0.041667,0.041667,0.041667,0
1,1,4.958333,2.916667,8.000000,4.791667,1.750000,5.291667,0,40.0,160.0,...,0.041667,0.791667,0.750000,0.0,1,0.005556,0.004167,0.041667,0.041667,0
2,2,5.750000,3.583333,10.083333,7.583333,2.291667,6.291667,1,55.0,170.0,...,0.041667,0.666667,0.916667,0.0,0,0.005556,0.005556,0.041667,0.041667,1

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   50000 non-null  int64
 1   systolic             50000 non-null  float64
 2   relaxation           50000 non-null  float64
 3   Cholesterol          50000 non-null  float64
 4   triglyceride         50000 non-null  float64
 5   HDL                  50000 non-null  float64
 6   LDL                  50000 non-null  float64
 7   gender               50000 non-null  int64
 8   age                  50000 non-null  float64
 9   height(cm)           50000 non-null  float64
 10  weight(kg)           50000 non-null  float64
 11  waist(cm)            50000 non-null  float64
 12  fasting blood sugar  50000 non-null  float64
 13  hemoglobin           50000 non-null  float64
 14  Urine protein        50000 non-null  float64
 15  ALT                  50000 non-null  float64
 16  Gtp                  50000 non-null  float64
 17  dental caries        50000 non-null  float64
 18  tartar               50000 non-null  int64
 19  eyesight(left)       50000 non-null  float64
 20  eyesight(right)      50000 non-null  float64
 21  hearing(left)        50000 non-null  float64
 22  hearing(right)       50000 non-null  float64
 23  target               50000 non-null  int64
dtypes: float64(20), int64(4)
memory usage: 9.2 MB

In [14]:
df.gender.unique()

array([0, 1])

In [11]:
df.tartar.unique()

array(['Y', 'N'], dtype=object)

In [12]:
df.target.unique()

array(['NO FUMADOR', 'FUMADOR'], dtype=object)

In [13]:
df["gender"] = df["gender"].replace({"F":0, "M":1})

C:\Users\tinch\AppData\Local\Temp\ipykernel_17488\2537151159.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["gender"] = df["gender"].replace({"F":0, "M":1})

In [16]:
df["tartar"] = df["tartar"].replace({"N":0, "Y":1})

C:\Users\tinch\AppData\Local\Temp\ipykernel_17488\3890497090.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["tartar"] = df["tartar"].replace({"N":0, "Y":1})

In [17]:
df["target"] = df["target"].replace({"NO FUMADOR":0, "FUMADOR":1})

C:\Users\tinch\AppData\Local\Temp\ipykernel_17488\1817344767.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["target"] = df["target"].replace({"NO FUMADOR":0, "FUMADOR":1})

In [20]:
df.to_csv("C:/Users/tinch/coderhouse/template_model/data/processed/dataset_merged_processed_no_outliers_numeric.csv")